body {
  font-family: Arial, sans-serif;
  background-color: #8a50e0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.profile-link {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #42A5F5;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid #42A5F5;
}

.profile-link img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #fff;
}

.body {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

#thread {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.message-div {
  display: flex;
  margin-bottom: 10px;
  max-width: 80%;
}

.sender {
  align-self: flex-end;
  background-color: #42A5F5;
  color: white;
  padding: 10px 15px;
  border-radius: 15px;
  max-width: 70%;
  word-wrap: break-word;
  text-align: left;
  margin-left: auto;
  position: relative;
}

.sender::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #42A5F5;
}

.receiver {
  align-self: flex-start;
  background-color: #e5e5ea;
  color: black;
  padding: 10px 15px;
  border-radius: 15px;
  max-width: 70%;
  word-wrap: break-word;
  text-align: left;
  margin-right: auto;
  position: relative;
}

.receiver::after {
  content: "";
  position: absolute;
  left: -10px;
  top: 10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #e5e5ea transparent transparent;
}
.timestamp {
  font-size: 12px;
  color: #666;
  display: block;
  margin-top: 3px;
}

.footer {
  border-top: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  display: flex;
}

#messageForm {
  display: flex;
  width: 100%;
}

#messageInput {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

button {
  background-color: #42A5F5;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

button:hover {
  background-color: #0056b3;
}

.body::-webkit-scrollbar {
  width: 5px;
}

.body::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 10px;
}

.body::-webkit-scrollbar-track {
  background: #e5e5ea;
}

