* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color:  #333;
    color: #f9f1f1;
    line-height: 1.6;
}

img {
    width: 200px;
    height: 250px;
    border-radius: 10%;
    border: 2px solid #d85537;
    transition: transoform 5s ease;
}
img:hover {
    border: 2px solid greenyellow;
    transform: scale(1.2)
}
a {
    text-decoration: none;
    color: #333;
}

/* Header Styles */
header {
    margin-right: 0px;
    display: flex;
    background-color: #d85537;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;

}

.search-bar {
    display: flex;
    justify-content: space-between;
    position: absolute;

    margin: 40px 180px 10px 200px;
    bottom: 0;

}

input[type=text] {
    width: 20%;
    color: black;
    padding: 12px 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
  }

  button {
    height: 50%;
    font-size: 20px;
    padding: 10px 20px;
    margin: 8px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background-color: #006080;
  }


.input {
    height: 30px;
    width: 300px;
    border-radius: 20px;
    border: none;
    padding: 8px;
    margin: 10px;
}
.nav-links {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 40px  10px 5px;
    padding-right: 20px;

}
#profile-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}
.logo h1 {
    font-size: 24px;
    margin: 0;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a img {
    width: 30px;
    height: auto;
    vertical-align: middle;
}

/* Main Content Styles */
main {
    padding: 10px 20px 20px 20px;
    text-align: center;
    margin-top: 120px;
}

.user-details {
    width: 50%;
    margin: 0 auto;
}
.users-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.user-link {
    background-color: #00ff00; /* Green background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Add margin to each user-link */
.user-link {
    margin-bottom: 20px;
}

/* Remove margin from last user-link to prevent extra spacing */
.user-link:last-child {
    margin-bottom: 0;
}

