* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color:  #333;
    color: #f9f1f1;
    line-height: 1.6;
}

img {
    width: 200px;
    height: 250px;
    border-radius: 10%;
    border: 2px solid #d85537;
    transition: transoform 5s ease;
}
img:hover {
    border: 2px solid greenyellow;
    transform: scale(1.5)
}
a {
    text-decoration: none;
    color: #333;
}

/* Header Styles */
header {
    margin-right: 0px;
    display: flex;
    background-color: #d85537;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

.nav-links {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-left: auto;
    padding-right: 20px;

}
#profile-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}
.logo h1 {
    font-size: 24px;
    margin: 0;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a img {
    width: 30px;
    height: auto;
    vertical-align: middle;
}

/* Main Content Styles */
main {
    padding: 20px;
    text-align: center;
}

.users-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.user-link {
    background-color: #00ff00; /* Green background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Add margin to each user-link */
.user-link {
    margin-bottom: 20px;
}

/* Remove margin from last user-link to prevent extra spacing */
.user-link:last-child {
    margin-bottom: 0;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}