body {
    margin: 0;
}
.header, .site-description {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

h1 {
    padding-left: 200px;
}

ul {
    display: flex;
    list-style-type: none;
    padding-right: 40px;
}
ul li {
    margin-right: 30px;
    color: white;
}

.site-description {
    /*padding-top: 80px;
    padding-left: 200px;*/
    padding: 80px 0px 100px 200px;
    justify-content: space-between;

}

button {
    background-color: #3882f6;
    border: none;
    width: 87px;
    height: 40px;
    border-radius: 10%;
    color: rgb(255, 251, 251);
    font-weight: bolder;
    font-size: 18px;
}

button:hover {
    background-color: white;
    color: #3882f6;
}
.image-tag {
    width: 500px;
    height: 350px;
    padding-right:200px;
    margin-left: 50px;
    border-radius: 50%;
}

h3 {
    text-align: center;
    font-size: 32px;
}

.some-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
}
.box-container {
    display: flex;
    flex-direction: column;
    
}
.box {
    width: 200px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    margin: 0px 32px 10px 0px;

    
}
.box:hover {
    background-color: #1F2937;
}

.box-text {
    margin-top: 10px;
    width: 200px;
    
}

.quote-text {
    background-color: #E5E7EB;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.quote-text p {
    width: 700px;
    padding: 6%;
    color: #1F2937;
    font-family: cursive;
    font-style: italic;
    font-size: 32px;
}
.end-container {
    display: flex;
    justify-content: center;
    margin: 8%;
}

.end-signup {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    padding: 1%;
    border-radius: 4%;
    width: 60%;
    height: 150px;
}


.end-signup button {
    background-color: #E5E7EB;
    color: #3882f6;
    margin-left: 1cm;
}

.end-signup button:hover {
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
}

footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

footer ul {
    color: white;
    padding: 5%;
    
}
footer p {
    color:white;
    margin: 0;
}