
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  /*margin: 50px 350px 50px 350px;*/
}

#menu {
  background-color: #d85537; 
  height: 90px;
  color: white;
  padding: 20px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #b2e335;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button[type="submit"] {
  background-color: #d85537; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
  background-color: #b2e335;
  ; 
}

.container p {
  font-size: 1rem;
  margin-top: 10px;
}

.container p a {
  color: #12bbaa; 
}

footer {
  background-color: #DC3C3C; 
  color: white;
  text-align: center;
  padding: 20px 0;
}
