<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
  <link rel="stylesheet" href="./styles/chatbox.css">
  <link rel="shortcut icon" href="./images/icon.svg">
</head>
<body>
    <div class="container">
        <div class="profile-link">
            <a href="">
                <img id="profile-pic" src="" alt="Profile Picture">
                View Profile
            </a>
        </div>
        <div class="body">
            <ul id="thread"></ul>
        </div>
        <div class="footer">
            <form id="messageForm">
                <input type="text" id="messageInput" placeholder="Message">
                <button type="submit">Send</button>
            </form>
        </div>
      
       
    </div>
    
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script> 
    <script src="./scripts/default_pp.js"></script>
    <script src="./scripts/chatbox.js"></script>
</body>
</html>
