<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/developers.css">
</head>
<body>
    <header>
        <h1>GEOCHAT developers</h1>
     
        <a href="./feedback.html">Give Feedback</a>
    </header>
    <p>contact developers involved in creation of GeoChat.</p>
    <div class="developers-container">
        <div class="moses">
            <h3>Moses Gitonga</h3> 
            <a href="https://github.com/mosesgitonga">Github</a>
            <p class="describe-myself">I am a passionate software Engineer who loves to build projects for fun</p>
        </div>
        <div class="kelechi">Kelechi Arukwe Denise</div>
        <div class="tolulope">Tolulope</div>
    </div>
</body>
</html>