<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoChat - Home</title>
    <link rel="stylesheet" href="./styles/home.css">
</head>

<body>
    <header>
        <div class="logo">
            <h1>GeoChat</h1>
        </div>
        <nav>
            <ul>
                <li><a href="./chat-box.html"><img src="home-icon.png" alt="Chat Room"></a></li>
                <li><a href="#"><img src="home-icon.png" alt="Home Icon"></a></li>
                <li><a href="#"><img src="group-pic.png" alt="Group Pic"></a></li>
                <li id="profile-icon"><a href="#"><img src="profile-icon.png" alt="Profile Icon"></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="search-bar">
            <input type="text" placeholder="Search by country name, region, or town">
        </section>
        <section class="users-grid" id="users-grid">
             
        </section>
    </main>
    
    <script src="./scripts/home.js"></script>
</body>

</html>
