<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoChat - Home</title>
    <link rel="stylesheet" href="./styles/home.css">
</head>

<body>
    <header>
        <div class="logo">
            <h1>GeoChat</h1>
        </div>
        <section class="search-bar">
            <input class="input" type="text" placeholder="Search by country name, region, or town">
        </section>
        <div class="nav-links">
            <nav>
                <ul>
                    <li><a href="#"><img src="home1.jpeg" alt="Home icon"></a></li>
                    <li id="chats"><a ><img src="./chatsIcon.png" alt="Chats"></a></li>
                    <li><a href="#"><img src="group-pic.png" alt="Group Pic"></a></li>
                    <li id="profile-icon"><a href="#"><img src="default_p.svg" alt="Profile Icon"></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>

        <section class="users-grid" id="users-grid">
             
        </section>
    </main>
    
    <script src="./scripts/home1.js"></script>
</body>

</html>
