<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
    <div class="header">
        <div>
            <h1>GeoChat</h1>
        </div>
        <div>
            <ul>
                <li href="#">SignUp</li>
                <li href="#">Login</li>
                <li href="#">Contact developers</li>
            </ul>
        </div>
    </div>
    <div class="site-description">
        <div>
            <h2>GeoChat a platform to help connect to nearby students</h2>
            <p>In this website you get to interact with <b>ALX
            </b> Student from same cohort living nearby 
            </p>
            <button>Sign up</button>
        </div>
        <div>
            <img class='image-tag' src="./images/download.jpeg" alt="pic of woman with camera">
        </div>
    </div>
    <h3>Info about GeoChat</h3>
    <div class="some-info">
        <div class="box-container">
            <div class="box"></div>
            <p class="box-text">GeoChat will help you connect to nearby students living near your location</p>
        </div>
        <div class="box-container">
            <div class="box"></div>
            <p class="box-text">You will get to connect with the student living nearby, collaborate on projects or even get to meet physically</p>
        </div>
        <div class="box-container">
            <div class="box"></div>
            <p class="box-text">This is a lot of text that talks about gabbage sentences that makes no sense lorem ipsum blabla</p>
        </div>
        <div class="box-container">
            <div class="box"></div>
            <p class="box-text">This is a lot of text that talks about gabbage sentences that makes no sense lorem ipsum blabla</p>
        </div>
    </div>
    <div class="quote-text">
        <p>This is an inspiring quote or a testimonial from a customer. Maybe it is just filling up space or maybe people will actually read it. Who knows? all i know is that it looks nice :)</p>
    </div>
    <div class="end-container">
        <div class="end-signup">
            <div id="call">
                <h4>Call to action! It's time</h4>
                <p>Sign up for our service by clicking that button over there!</p>
            </div>
            <button>Sign up</button>
        </div>
    </div>
    <footer>
        <ul>
            <li>contact: +254757573241</li>
            <li>email: infosec947@gmail.com</li>
            <li>Author: Moses Gitonga</li>
            <li>Copyright &#169 2024</li>
        </ul>
    </footer>
</body>
</html>