<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login - GeoChat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/login.css">
  <link rel="shortcut icon" href="./images/icon.svg">
</head>
<body>
  <div id="menu">
    <header>
      <nav role="navigation">
        <ul class="cta-0">
          <li style="float: left;"><a href="/#"><img src="./images/login.png" alt="Logo" style="width:100px; height:100px;"></a></li>
	</ul>
      </nav>
    </header>
  </div>
  <div class="container">
    <form method="post" action="" id="loginForm" enctype="multipart/form-data">
      <h2>Login</h2>
      <label for="email">Email</label><br>
      <input type="text" id="email" placeholder="Email" required><br>

      <label for="password">Password</label><br>
      <input type="password" id="password" placeholder="Password" required><br>
    
      <input type="submit" value="Login" name="login" id="submit">
    </form>

    <p>Don't have an account?<br> <a href="./signup.html">Register here</a></p>

  </div>

  <footer class="footer">
    <p>&copy; 2024 GeoChat. All rights reserved.</p>
  </footer>

  <script>
    document.addEventListener('DOMContentLoaded', async function() {
        const loginForm = document.getElementById('loginForm');
        const submit = document.getElementById('submit');

        submit.addEventListener('click', async function(event) {
            event.preventDefault();

            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            localStorage.setItem('email', email);

            try {
                const response = await fetch('/api/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email, password })
                });

                if (response.ok) {
                    console.log('Login successful');
                    const encodedEmail = encodeURIComponent(email);
                    const data = await response.json();
                    window.location.href = `/homepage.html?email=${encodedEmail}&userId=${data.userId}`;
                } else {
                    console.log('Failed to login');
                    window.location.href = '/login.html';
                }
            } catch (error) {
                console.log('Error:', error);
            }
        });
    });
</script>
</body>
</html>
