<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GeoChat user profile</title>
  <link rel="stylesheet" href="./styles/profile.css">
  <link rel="shortcut icon" href="./images/icon.svg">
</head>
<body>
  
  <div class="container">
    <div>
      <h1 id="heading"></h1>
      <div id="profile-image">
        <img id="profile-pic" src="" alt="Profile Picture">
      </div>
      <div id="message" style="color: rgb(252, 202, 5)"></div>
      <div id="profile-info"></div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const profileInfo = document.getElementById('profile-info');
      const profilePic = document.getElementById('profile-pic');
      const heading = document.getElementById('heading')

      const urlParams = new URLSearchParams(window.location.search); 
      const userEmail = urlParams.get('email');
      const userId = urlParams.get('userId');
      fetch(`/api/user/profile/${userId}`)
        .then(response => {
          if (!response.ok) {
            throw new Error('Failed to fetch user profile');
          }
          return response.json();
        })
        .then(data => {
          console.log(data);
          const user = data.user;
          profileInfo.innerHTML = `
            <p><strong>Username:</strong> ${user.username}</p>
            <p><strong>Email:</strong> ${user.email}</p>
            <p><strong>Course:</strong> ${user.course}</p>
            <p><strong>Cohort:</strong> ${user.cohort}</p>
            <p><strong>Country:</strong> ${user.location.country}</p>
            <p><strong>Region:</strong> ${user.location.region}</p>
            <p><strong>Town:</strong> ${user.location.town}</p>`;
          if (data.user.imagePath) {
            profilePic.src = data.user.imagePath;
          } else {
            profilePic.src = './default_p.svg';
          }
          heading.textContent = `${data.user.username}'s Profile`;
        })
        .catch(error => {
          console.error('Error fetching user profile:', error.message);
          profileInfo.innerHTML = '<p>Error fetching user profile</p>';
        });
        
    });
  </script>
</body>
</html>
