<!DOCTYPE html>
<html lang="en"> 

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GeoChat User Profile</title>
  <link rel="stylesheet" href="./styles/profile.css">
  <link rel="shortcut icon" href="./images/icon.svg">
</head>

<body>
  <div class="profile-container">
    <div class="profile-sidebar">
      <div class="profile-image">
        <img id="profile-pic" src="" alt="Profile Picture">
      </div>
      <h2 id="heading"></h2>
    </div>

    <div class="profile-details">
      <div id="message"></div>
      <div class="details-grid">
        <p><strong>Email:</strong> <span id="email"></span></p>
        <p><strong>Course:</strong> <span id="course"></span></p>
        <p><strong>Cohort:</strong> <span id="cohort"></span></p>
        <p><strong>Location:</strong> <span id="location"></span></p>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const heading = document.getElementById('heading');
      const profilePic = document.getElementById('profile-pic');
      const email = document.getElementById('email');
      const course = document.getElementById('course');
      const cohort = document.getElementById('cohort');
      const location = document.getElementById('location');

      const urlParams = new URLSearchParams(window.location.search);
      const userId = urlParams.get('userId');

      fetch(`/api/user/profile/${userId}`)
        .then(response => response.json())
        .then(data => {
          const user = data.user;
          heading.textContent = `${user.username}'s Profile`;
          email.textContent = user.email;
          course.textContent = user.course;
          cohort.textContent = user.cohort;
          location.textContent = `${user.location.town}, ${user.location.region}, ${user.location.country}`;
          profilePic.src = user.imagePath || './default_p.svg';
        })
        .catch(error => {
          console.error('Error fetching user profile:', error.message);
        });
    });
  </script>
</body>

</html>
