<!DOCTYPE html>
<html lang="en">
<head>
 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <title>Sign in - GeoChat</title>
  <link rel="stylesheet" href="./styles/signup.css">
  <link rel="shortcut icon" href="../static/images/icon.svg">
</head>
<body>
  <!-- Navigation menu -->
  <div id="menu">
    <header>
      <nav role="navigation">
        <!-- Logo and navigation buttons -->
	<ul class="cta-0">
          <li style="float: left;"><a href="/#"><img src="./images/signup.png" alt="Logo" style="width:100px; height:100px;"></a></li>
        </ul>
      </nav>
    </header>
  </div>
  <!-- Registration form section -->
  <div class="container">
    <h2>User Registration</h2>
    <form id="registrationForm" method="post">
     
      <input type="text" id="username" name="username" placeholder="Username" required>

      <input type="email" id="email" name="email" placeholder="Email" required>

      <input type="text" id="course" name="course" placeholder="Course" required>

      <input type="text" id="cohort" name="cohort" placeholder="Cohort" required>
    
      <input type="password" id="password" name="password" placeholder="Password" required>
     
      <input type="text" id="country" name="country" placeholder="Country" >
      <input type="text" id="region" name="region" placeholder="Region" required>

      <input type="text" id="town" name="town" placeholder="Town" required>

     

      <button type="submit">Sign in</button>      
    </form>
   
    <p>Already have an account? <a href="./login.html">Login here</a></p>
  </div>
  <script>
    document.getElementById('registrationForm').addEventListener('submit', async function(event) {
      event.preventDefault();

      const username = document.getElementById('username').value;
      const email = document.getElementById('email').value;
      const course = document.getElementById('course').value;
      const cohort = document.getElementById('cohort').value;
      const password = document.getElementById('password').value;
     
      const country = document.getElementById('country').value;
      const region = document.getElementById('region').value;
      const town = document.getElementById('town').value;

      try {
	const response = await fetch('/api/signup', {
	  method: 'POST',
	  headers: {
	    'Content-Type': 'application/json'
	  },
	  body: JSON.stringify({
	    username,
            email,
            course,
            cohort,
            password,
           
            location: {
              country,
              region,
              town,
	    }
          })
      });
      if (response.ok) {
        alert('User registered successfully!');
        window.location.href = '/login.html';
      } else {
        const erroeMessage = await response.json();
	throw new Error(errorMessage.error || 'Failed to register user');
      }
    } catch (error) {
        console.error('Error:', error.message);
        alert('Registration failed. Please try again.');
    }
  });
  </script>
  <footer class="footer">
   <p>&copy; 2024 GeoChat. All rights reserved.</p>
  </footer>

</html>
</body>
</html>
